.inter-original {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
  }
  
  .miama-original {
      font-family: "Miama", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings:"slnt" 0;
    }
  
  *{
      padding: 0;
      margin: 0;
      color: #ffffff;
      
  }
  
  /* shared style */
  
  .artical{
      color: rgba(255, 255, 255, 0.5) ;
  }
  .display-flex{
      display: flex;
  }
  
  .btn-brand-color{
      background-color: #E6533C;
  }
  .bg-color{
      background-color: #000000;
  }
  
  /* hrader */
  
  header{
      max-width: 90rem;
      height: 44.69rem;
      margin: 0 auto;
      
  
  }
  
  /* navbar */
  
  .navbar{
      justify-content: space-between;
      max-width: 66.25rem;
      margin: 0 auto;
      padding-top: 3.56rem;
      
  }
  
  .logo{
      color: #E6533C;
      font-size: 2.25rem;
      font-weight: 800;
      font-style: italic;
  }
  .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 39px;
  }
  .nav-container a {
      font-size: 1.125rem;
      text-decoration: none;
      padding: 12px 30px;
      border-radius: 39px;
      
  }
  .nav-container a.active {
      border: none;
      padding: 12px 20px;
      
  }
  
  .banner-container{
      display: flex;
      max-width: 66.25rem;
      margin: 32px auto;
      justify-content: space-between;
  }
  
  .banner-text h1{
      font-size: 4.87rem;
      width: 32.5rem;
      line-height: 6rem;
      margin-top: 70px;
  }
  
  .banner-text p{
      margin-top: 28px;
      color: rgba(255, 255, 255, 0.5);
  }
  
  
  .banner-df-font{
      font-family: 'Miama';
  
  }
  
  .banner-img{
    margin-left: 200px;
      width: 100%;
      height: 100%;
      
  
  }
  
  .banner-btn-1{
      border: none;
      font-size: 1.125rem;
      padding: 16px 45.5px;
      border-radius: 42px;
      margin-top: 28px;
  }
  .banner-btn-2{
      background-color: black;
      font-size: 1.125rem;
      padding: 16px 45.5px;
      border-radius: 42px;
      margin-top: 28px;
      border: 1px solid #ffffff;
      margin-left: 14px;
  }
  
  .workout-videos{
      width: 193px;
      height: 98px;
      background-color: rgba(255, 255, 255, 0.1);
      position: absolute;
      top: 260px;
      right: 320px; 
      border-radius: 12px;
      padding-left: 24px;
      padding-top: 17px;
  }
  
  .workout-videos h3{
      font-size: 40px;
  }
  
  .workout-tutorial{
      width: 206px;
      height: 96px;
      background-color: rgba(255, 255, 255, 0.1);
      position: absolute;
      bottom: 310px;
      left: 1000px; 
      border-radius: 12px;
      padding-left: 24px;
      align-items: center;
  
  }
  .workout-tutorial h4{
      font-size: 24px;
  }
  .workout-tutorial-round{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #E6533C;
      margin-right: 12px;
  }
  
  
  /* Habits section */
  
  .habit-container{
      max-width: 90rem;
      margin: 0px auto;
  }
  .habit-text{
      width: 671px;
      margin: 0 auto;
      text-align: center;
      padding-top: 80px;
  }
  .habit-text h2{
      font-size: 48px;
      margin-bottom: 14px;
  }
  
  .habit-box-cintainer{
      max-width: 66.25rem;
      margin: 0px auto;
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  
  }
  .habit-box{
      width: 231px;
      text-align: center;
  }
  
  .habit-box img{
      border-radius: 50%;
      padding: 30px 25.5px;
  }
  .habit-box h5{
      font-size: 18px;
      padding-bottom:6px;
  }
  .habit-box p{
      padding-bottom: 40px;
      font-size: 14px;
  }
